/* UDPATED 8/30/2013 */
.ext-bp { padding-left: 5px; }
.ext-bp select, .ext-bp input { margin: 0 5px 0 0; padding: 0; min-height: 0; }

/* PROGRESS */
.ext-bp .bp-barContainer { display: inline-block; box-shadow: 0 1px 3px #000 inset, 0 1px 0 #444; background-color: #ddd; border: 1px solid #000; border-radius: 5px; margin-bottom: 6px; width: 96%; }
.ext-bp .bp-progress { width: 0; background-color: #606A70;/* background-color: #27709b; */  border-radius: 3px; box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset; }
.ext-bp .bp-pc { cursor: default; display: inline-block; margin: 1px 0 0 5px; color: #fff; text-shadow: 2px 2px 2px #000; }

/* SETTINGS */
.ext-bp .bp-settings { margin-left: 10px; display: none; position: absolute; z-index: 1; background-color: #f0f0f0; padding: 5px; border-radius: 0 0 5px 5px; box-shadow: 0 3px 3px #555; opacity: 0.95; transition: opacity .75s ease-in-out; }
.ext-bp .bp-settings:hover { opacity:1; transition: opacity .25s ease-in-out; }
.ext-bp .bp-button { box-shadow: 0 1px 1px #777 inset, 0 1px 0 #777; background-color: #ddd; border: 1px solid #222; border-radius: 4px; color: #555; }
.ext-bp .bp-button:hover,.ext-bp .bp-active { cursor: pointer; color: #000; background-color: lightgreen; }
.ext-bp .bp-optionsIcon { width: 20px; padding-top: 1px; display: inline-block; margin: 0 4px 6px 0; }
.ext-bp .bp-doneList { display: inline-block; margin-right: 20px; outline: none; }
.ext-bp .bp-saveSettings { padding: 1px 4px; position: absolute; right: 10px; bottom: 5px; }
.ext-bp .bp-column { display:inline-block; vertical-align: top; }
.ext-bp .bp-inputContainer { margin-top: 2px; }
.ext-bp .bp-version { position: absolute; top:0; right: 10px; font-size: 65%; color: #777; }
.ext-bp .bp-settings select, .ext-bp .bp-settings input { cursor: pointer; }
.ext-bp .bp-settings input { min-height: 0; }
.ext-bp .bp-settings input[type="radio"] { margin-left: 5px; }
.ext-bp .bp-settings .bp-title { font-weight: bold; }
.ext-bp .bp-settings label { display: inline-block; font-weight: normal; margin-left: 5px; cursor: pointer; }
.ext-bp .bp-settings .bp-indent { margin-left: 24px; }
.ext-bp .bp-settings .bp-indentLevel2 { margin-left: 38px; }
.ext-bp .bp-settings .countCheckListsTowardsComplete { display: none; }